@page "/"

<PageTitle>Index</PageTitle>


<StyleProvider @bind-Provider="StyleProvider" @bind-Version="StyleProviderVersion" />

<link href="Arc.Demo.styles.css" rel="stylesheet" />
<link href="libs/ArcUX/themes/@(ArcTheme).css" rel="stylesheet" />
<link href="libs/ArcUX/ArcUX.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>@StyleProvider @StyleProviderVersion </th>
            <th>
                Arc UX

                <span style="display: inline-block; padding-left: 10px; max-width: 200px">

                    <ArcDropDown Items="ArcThemes"
                                 ItemText="x => x.Name"
                                 ItemValue="x => x.Key"
                    @bind-Value="ArcTheme" />
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button class="btn btn-primary">Primary</button>
            </td>
            <td>
                <ArcButton Style="ElementStyle.Primary">Primary</ArcButton>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-secondary">Secondary</button>
                <button class="btn btn-light btn-default">Light</button>
            </td>
            <td>
                <ArcButton Style="ElementStyle.Default">Default</ArcButton>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-danger">Danger</button>
            </td>
            <td>
                <ArcButton Style="ElementStyle.Error">Error</ArcButton>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-success">Success</button>
            </td>
            <td>
                <ArcButton Style="ElementStyle.Success">Success</ArcButton>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-warning">Warning</button>
            </td>
            <td>
                <ArcButton Style="ElementStyle.Warning">Warning</ArcButton>
            </td>
        </tr>
    </tbody>
</table>

@code
{

    public record Theme(string Name, string Key);

    public List<Theme> ArcThemes { get; } =
        new()
                        {
                    new("Bootstrap 5", "Bootstrap5"),
            new("Bootstrap 3", "Bootstrap3"),
                        };

    public string ArcTheme { get; set; } = "Bootstrap5";
    public StyleProviderType StyleProvider { get; set; }
    public string StyleProviderVersion { get; set; }

}
