@page "/"

<PageTitle>Index</PageTitle>


<StyleProvider @bind-Provider="StyleProvider" @bind-Version="StyleProviderVersion"/>

<link href="Arc.Demo.styles.css" rel="stylesheet" />

<table class="table">
    <thead>
    <tr>
        <th>@StyleProvider @StyleProviderVersion </th>
        <th>Arc UX</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <button class="btn btn-primary">Primary</button>
        </td>
        <td>
            <ArcButton Style="ElementStyle.Primary">Primary</ArcButton>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-secondary">Secondary</button>
        </td>
        <td>
            <ArcButton Style="ElementStyle.Default">Default</ArcButton>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-danger">Danger</button>
        </td>
        <td>
            <ArcButton Style="ElementStyle.Error">Error</ArcButton>
        </td>
    </tr>
    </tbody>
</table>

@* 
<ArcAlert Style=@ElementStyle.Error>
    TODO
</ArcAlert>


<ArcMessageBox Title="Error" Style=@ElementStyle.Error IconName="pencil">
    TODO
</ArcMessageBox> 
*@

@code
{
    public StyleProviderType StyleProvider { get; set; }
    public string StyleProviderVersion { get; set; }

}
