@using Arc.UX.Styles
@inherits ArcElement
@* @inject IComponentStyleProvider ComponentStyleProvider *@


<ArcComponent Component="this" Style=@Style>
    @ChildContent
</ArcComponent>

@* @if (Visible)
{
    <div class="arc-alert @ComponentStyleProvider.Alert(Style) @CssClass">
        
        @ChildContent
    </div>
} *@

@code {
    // [Parameter]
    // public string? Icon { get; set; }

    [Parameter]
    public ElementStyle Style { get; set; } = ElementStyle.Default;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}