@using Arc.UX.Extensions
@if (Component?.Visible == true)
{
    <div class="arc-@ComponentName() @(Component?.CssClass) @(Component?.Style?.ToLoweredCssClass())">
        @Body
    </div>
}

@code {

    [Parameter]
    public ArcComponent? Component { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }


    private string ComponentName()
    {
        var name = Component?.ComponentName
                   ?? Component?.GetType()?.Name 
                   ?? "unknown";

        return name.ToLower();
    }

}
