@inherits ArcComponent

@if (Visible)
{
    <div class="arc-card">
        <h5 class="arc-card-title @CssClass">
            @if (TitleIcon.HasValue())
            {
                <ArcIcon IconName="TitleIcon" Design="TitleIconDesign" Animation="TitleIconAnimation" />
            }
            @Title
        </h5>
        <div class="arc-card-body">
            <h6 class="card-subtitle mb-2 text-muted">
                @Message
            </h6>
            <div class="dropdown-divider pt-2 mb-2"></div>
            @ChildContent

        </div>
    </div>
}

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? TitleIcon { get; set; }

    [Parameter]
    public string? TitleIconDesign { get; set; }

    [Parameter]
    public string? TitleIconAnimation { get; set; }

    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }



}