@using Arc.UX.Extensions
@if (Component?.Visible == true)
{
    <div class="arc-@ComponentName() @(Component?.CssClasses) @(Style?.ToLoweredCssClass())">
        @ChildContent
    </div>
}

@code {

    [Parameter]
    public IArcComponent? Component { get; set; }

    [Parameter]
    public ElementStyle? Style{ get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }


    private string ComponentName()
    {
        var name = Component?.ComponentName
                   ?? Component?.GetType()?.Name 
                   ?? "unknown";

        return name.ToLower();
    }

}
