@inherits ArcElement

<ArcComponent Component="this" Style="@Style">
    <CascadingValue Value="this">
        <ul class="nav nav-tabs">
            @ChildContent
        </ul>
    </CascadingValue>

    <div class="arc-tab-content">
        @SelectedTab?.ChildContent
    </div>
</ArcComponent>


@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ElementStyle Style { get; set; } = ElementStyle.Default;

    public List<ArcTab> Tabs { get; } = new();

    public ArcTab? SelectedTab { get; set; }

    internal void AddPage(ArcTab tab)
    {
        Tabs.Add(tab);
        if (SelectedTab == null && tab.Visible)
            SelectTab(tab);
    }

    public void SelectTab(ArcTab tab)
    {
        if (SelectedTab == tab) return;

        SelectedTab?.SetTabSelection(false);

        tab.SetTabSelection(true);
        SelectedTab = tab;

        StateHasChanged();
    }
}